h2 {
    color: red;
}
#p1{
    background-color: yellow;
    text-align: justify;
    color: rgb(red, rgb(210, 220, 210), rgb(45, 45, 103));
}
#p2{
    font-family: 바탕체;
    line-height: 1.5;
    text-align: justify;
}
.coffee{
    font-weight: bold;
}