<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>폼태그</h3>
    <form action="/test" method="get">
        <input type="text" placeholder="..입력햐" disabled><br/>
        <input type="password" placeholder="비밀번호"><br/>
        <input type="email" placeholder="이메일"><br/>
        <input type="radio" name="gender" value="사나이">남성
        <input type="radio" name="gender" value="여성">여성<br/>
        <input type="radio" name="gender" value="사나이">남자
        <input type="radio" name="gender" value="여성">여자<br/>
        <input type="checkbox" name="hobby" value="여행">여행
        <input type="checkbox" name="hobby" value="게임">게임
        <input type="checkbox" name="hobby" value="취미">취미<br/>
        <input type="tel"><br/>
        <input type="number"><br/>
        <input type="date"><br/>
        <input type="time"><br/>
        <input type="color"><br/>
        <select name="" id="">
            <% for(let i= 1970; i<= 2024; i++){ %>
                <option value= "<%= i %>"><%= i %></option>
            <% } %>
            
        </select><br/>
        <label for="test">클릭</label><br/>
        <input type="text" placeholder="test" id="test">
        <fieldset>
            <legend>제목칸</legend>
            <input type="text">
        </fieldset><br/>

        <button type="submit">버튼</button><br/>
    </form>
    
    
</body>
</html>