img{
    border: 1px solid blue;
    /* 테두리둥글게 */
    border-radius: 5px;
}
table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 400px;
}
th, td{
    border: 1px solid #ccc;
    /* 셀의 안쪽여백(4면) */
    padding: 10px;
}
thead{
    background-color: #eee;
}
