div{
    width: 400px;
    height: 400px;
    /* 색상 16진수 방식(#------) */
    border: 1px solid #000000;
    background: url(/css/images/cats-7122943_640.png) no-repeat;
}
#bg1{
    /* auto 원본이 사각형 크기로 짤림 */
    background-size: auto;
}
#bg2{
    /* 크기가 축소돼 보임 */
    background-size: 200px;
}
#bg3{
    /* 표(border)크기 비율에 따라 보임(예:400px*80%) */
    background-size: 80%;
    background-position: right bottom;
}
#bg4{
    /* 표(border)크기 큰 길이(축) 기준으로 채움? */
    background-size: contain;
}
#bg5{
    /* 표(border)크기 짧은 길이(축) 기준으로 채움? */
    background-size: cover;
}
