@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
#container{
    width: 1000px;
    margin: 0 auto;
}
nav{
    /* width: 600px; */
    height: 80px;
    background-color: green; 
}
ul{
    
    padding-left: 400px;
}
ul li{
    display: inline-block;
    line-height: 80px;
    float: left;
}
ul li a{
    display: block;
    padding: 0 30px;
    color: black;
    text-decoration: none;
}
ul li a:hover{
    background-color: gold;
    color: beige;
}
section{
    margin: 20px;
}