@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: beige;
}
a:hover{
    text-decoration: none;
    color: navy;
}
ul li{
    list-style: none;
    font-weight: bold;
}
#container{
    width: 1000px;
    margin: 0 auto;
}
header{
   
    height: 80px;
    background-color: navy;
}
header #logo{
    width: 250px;
    /* height: 80px; */
    float: left;
    line-height: 80px;
    padding-left: 30px;
}
header #logo h1 a{
    color: aquamarine;
}
header #logo h1 a:hover{
    color: white;
}
header nav{
    width: 700px;
    /* height: 80px; */
    float: right;
    line-height: 80px;
}
header nav ul{
    padding-left: 100px;
}
header nav ul li{
    float: left;
}
header nav ul li:hover{
    background-color: white;
}
header nav ul li a{
    display: block;
    padding: 0 30px;
}

