<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>데이터 전송 결과 페이지</h4>
    <h5><%= title %></h5>
    <div>너의 이름은 <span><%= userInfo.name %></span></div>
    <div>자네의 성별은 <span><%= userInfo.gender %></span></div>
    <div>비밀번호는 <span><%= userInfo.pw %></span></div>
    <br/>
    <br/>
    <a href="/form">홈으로 이동</a>
    
</body>
</html>