<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <form name="register-form">
        <label for="username">이름</label>
        <input type="text" id="username" required><br/>

        <label for="useremail">이메일</label>
        <input type="email" id="useremail" required><br/>
        <br/>
        <button type="button" onclick="ajaxGet()">ajax get 제출</button>
        <button type="button" onclick="ajaxPost()">ajax post 제출</button>
    </form>

    <div class="result"></div>
    <script>
        const resultBox = document.querySelector('.result');
        function ajaxGet() {
            // form 가져오기
            const form = document.forms['register-form'];

            // 백엔드로 보내는 데이터
            const data ={
                myName: form.username.value,
                myEmail: form.useremail.value,
            };
            console.log(data);

            // ajax
            $.ajax({
                type: "GET",
                url: '/ajax',
                data: data,
                success:(res)=>{
                    console.log('res: ', res);
                    resultBox.textContent = `${res.user} ${res.email}`;
                },
            });
        }

        function ajaxPost() {
            // Form 가져오기
            const form = document.forms['register-form'];
            if(form.username.value === ''){
                alert('이름이 빈칸');
                return;
            }
            $.ajax({
                type: "POST",
                url:'/ajax',
                data: {
                    myName: form.username.value,
                    myEmail: form.useremail.value,
                },
                success: (res) => {
                    console.log('res: ', res);
                    resultBox.textContent = `${res.user} ${res.email}`;
                }
            });
        }
    </script>
</body>
</html>